{% assign recurse = include.recurse %}
{% assign navclass = include.class %}
{% capture link %}{{ include.link | default: false }}{% endcapture %}

{% for item in include.items %}
  <span class="{% if navclass %}{{ navclass }}__item {% endif %} nav__item">
    {% include components/nav-item.html item=item link=link navclass=navclass %}

    {% if include.recurse == true %}
      <div class="{% if navclass %}{{ navclass }}__item {% endif %} nav__item--parent">
        {% include components/nav-subitems.html item=item navclass=navclass %}
      </div>
    {% endif %}
  </span>
{% endfor %}
