{% capture imagePath %}assets/images/products/{{ include.item.sku | downcase }}{% endcapture %}
{% capture solo %}{{imagePath}}/solo.jpg{% endcapture %}
{% capture first %}{{imagePath}}/01.jpg{% endcapture %}

{% capture soloExists %}{% file_exists {{ solo }} %}{% endcapture %}
{% capture firstExists %}{% file_exists {{ first }} %}{% endcapture %}
{% if soloExists == "true" %}
  {% assign imagePath = solo %}
{% elsif firstExists == "true" %}
  {% assign imagePath = first %}
{% else %}
  {% assign imagePath = false %}
{% endif %}

{% if imagePath != false %}
  <img src="/{{ imagePath }}" />
{% endif %}
