<div class="product-grid__item-wrapper">
  <a class="product-grid__item" href="{{ item.url }}">
    <div class="product-grid__item-details">
      <h2 class="product-grid__item-title">{{ item.title }}</h2>
      <span class="product-grid__item-link">See Product Details</span>
    </div>

    <div class="product-grid__item-image">
      {% include components/product-image.html item=item %}
    </div>

    {% if item.feature == true %}
      <div class="product-grid__featured-banner">Best Seller!</div>
    {% endif %}
  </a>
</div>
