/*

  Back To Top

*/

.back-to-top-link {
  @media screen and (max-width: $bp-desktop) {
    display: none !important;
  }

  @include screen($bp-desktop) {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    @include margin(0, 5px, 5px, 0);
    @include tiny;
  }
}
