.hero {
  background-image: linear-gradient(to top, -color($greys, 15) 5%, transparent 30%), url('/assets/img/sunrise.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  color: $color-text--light;
  height: 100vh;
  justify-content: center;
  @include flex-column;
}

.hero__title {
  color: $color-text--orange;
  text-transform: uppercase;
  @include line-wrap;
  @include font-display;
  @include text-shadow;
  @include h1;
}

.hero__tagline {
  @include h2;
  @include font-display;
  @include text-shadow;
}
