.product-boxes {
  @include font-body;
  color: $color-text--light;
  height: 800px;

  .product-boxes__header-container {
    padding-top: 75px;
    background: $color-grey--dark;
    height: 500px;
  }

  .product-boxes__header {
    text-align: center;
    width: 600px;
    @include margin-center;
  }

  .section__title {
    @include h3;
    @include font-display;
    text-transform: uppercase;
  }

  .product-boxes__products {
    width: 1000px;
    margin: auto;
    display: flex;
  }

  .product-boxes__body {
    display: flex;
    justify-content: center;
    margin-top: -200px;
  }

  .product-boxes__item-wrapper {
    max-width: 500px;
    height: 300px;
  }

  .product-boxes__corner-ribbon {
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    background: $color-text--orange;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
