.featured-products {
  color: $color-text--light;
  background: $color-grey--dark;
  @include padding-vertical($gutter--xl);
}

.featured-products__container {
  @include wrapper;
  @include margin-center;
}

.featured-products__header {
  text-align: center;
  @include margin-center;
  @include margin-bottom($gutter);
}

.featured-products__title {
  text-transform: uppercase;
  @include font-display;
  @include h2;
}

.featured-products .lead-paragraph {
  @include measure;
  @include margin-center;
}

.featured-products__product-grid.product-grid  {
  @include screen($bp-tablet) {
    justify-content: center;
  }

  .product-grid__item-wrapper {
    flex-basis: calc((100% / 2) - #{$gutter * 2});
    background: $color-grey--lightest;
    @include padding($gutter--small);

    @include screen($bp-tablet) {
      @include margin-horizontal($gutter / 2);
    }
  }
}

.featured-products .button--link {
  display: block;
  @include margin-vertical($gutter--large);
  @include text-shadow($blur: (1px, 2px));
}
