.made-local {
  height: 100vh;
  background-image: url('/assets/img/made-local.jpg');
  background-size: cover;
  background-position: bottom center;

  .made-local__container {
    text-align: center;
  }

  .made-local__title {
    text-transform: uppercase;
    @include font-display;
    @include h3;
  }
}
