.made-local {
  padding-top: 120px;
  height: 1200px;
  background-image: url("/assets/img/made-local.jpg");
  background-size: cover;
  background-position: bottom center;

  .made-local__header {
    text-align: center;
    width: 570px;
    @include margin-center;
  }

  .made-local__title {
    @include h3;
    @include font-display;
    text-transform: uppercase;
  }

  .made-local__lead {
    line-height: 1.5;
  }

  .made-local__link {
    text-transform: uppercase;
    color: $color-text--orange;
    text-decoration: none;
    font-weight: 700;
    @include text-shadow($blur: (1px, 2px));

    svg {
      margin-bottom: 3px;
      margin-left: 5px;
      vertical-align: middle;

      & > .arrow-body {
        fill: $color-text--orange;
      }

      & > .arrow-shadow {
        stroke: $color-grey;
      }
    }

    &:hover {
      color: $color-text--orange-hover;

      svg > .arrow-body {
        fill: $color-text--orange-hover;
      }
    }
  }
}
