.made-local {
  padding-top: 120px;
  height: 1200px;
  background-image: url("/assets/img/made-local.jpg");
  background-size: cover;
  background-position: bottom center;

  .made-local__header {
    text-align: center;
    width: 570px;
    @include margin-center;
  }

  .made-local__title {
    @include h3;
    @include font-display;
    text-transform: uppercase;
  }

  .made-local__lead {
    line-height: 1.5;
  }

  .made-local__link {
    @include tiny;
    text-transform: uppercase;
    color: $color-text--orange-dark;
    text-decoration: none;
    font-weight: 700;

    svg {
      margin-bottom: 3px;
      vertical-align: middle;
    }

    &:hover {
      color: $color-text--orange;

      svg > .arrow-body {
        fill: #e9512f;
      }
    }
  }
}
