.family-operated-section {
  $sectionWidth: 1300px;
  $sectionPaddingLR: 25px;
  $contentMarginLR: 30px;
  $topImageWidth: 890px;
  $bottomImageWidth: 680px;

  background: $color-grey--dark;
  @include font-body;
  font-weight: 100;
  color: $color-text--light;

  .section__body {
    max-width: $sectionWidth;
    margin: 0 auto;
    position: relative;
    padding: 100px $sectionPaddingLR 50px;
  }

  .section__header {
    text-align: center;
    width: 600px;
    @include margin-center;
  }

  .section__title {
    @include h3;
    @include font-display;
    text-transform: uppercase;
    margin-bottom: 75px;
  }

  .row {
    display: flex;

    &--flip {
      .img {
        order: 2;
      }
    }

    .content {
      flex: 0 8 auto;
      margin: 60px $contentMarginLR;
      $topContentWidth: calc(#{$sectionWidth} - 2 * #{$sectionPaddingLR} - #{$topImageWidth} - 2 * #{$contentMarginLR});
      width: $topContentWidth;
      min-width: calc(#{$sectionWidth} - 2 * #{$sectionPaddingLR} - #{$topImageWidth} - 2 * #{$contentMarginLR});

      p {
        margin-bottom: 30px;
      }
    }
  }

  .row + .row {
    position: relative;
    top: -80px;
    z-index: 100;

    .content {
      margin-top: 14%;
      $bottomContentWidth: calc(#{$sectionWidth} - 2 * #{$sectionPaddingLR} - #{$bottomImageWidth} - 2 * #{$contentMarginLR});
      width: $bottomContentWidth;
      min-width: $bottomContentWidth;
    }
  }

  .img {
    flex: 1 1 auto;
    font-size: 0;
  }
}
