.map {
  @include margin-vertical($gutter--large);
}

.map__container {
  text-align: center;
  @include flex-column;
}

.map__title {
  text-transform: uppercase;
  @include h2;
  @include font-display;
}

.map__holder {
  @include max-screen($bp-tablet) {
    display: none;
  }

  .region0 {  fill: -color($greys, 54); }
  .region1 {  fill: -color($greys, 58); }
  .region2 {  fill: -color($greys, 67); }
  .region3 {  fill: -color($greys, 52); }
  .region4 {  fill: -color($greys, 42); }
  .region5 {  fill: -color($greys, 62); }
  .region6 {  fill: -color($greys, 54); }
  .region7 {  fill: -color($greys, 44); }
  .region8 {  fill: -color($greys, 56); }
  .region9 {  fill: -color($greys, 69); }
  .region10 { fill: -color($greys, 60); }
  .region11 { fill: -color($greys, 62); }
  .region12 { fill: -color($greys, 60); }

  [class^=point] {
    fill: $color-orange;
    position: relative;
    r: 3px;
    stroke: $color-text--light;
    z-index: 10000000; // it's ridiculous, but welcome to d3
  }
}


