.products-button {
  text-align: right;
  position: relative;

  .button {
    bottom: 25px;
    right: 6%;
    position: absolute;
    box-shadow: 3px 1px 4px $color-grey, 1px 3px 4px $color-grey;
  }

  span {
    vertical-align: middle;
  }

  svg {
    vertical-align: middle;
    margin-left: 6px;
    width: 20px;
  }
}
