.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include flex-column-to-row($bp-tablet);
}

.product-grid__item-wrapper {
  flex-basis: calc((100% / 3) - 20px);
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 400px;
  height: 255px;
  @include margin-bottom(20px)
}

.product-grid__item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: orange;
  position: relative;
  color: $color-grey--lightest;

  &:hover {
    .product-grid__item-image::after {
      background-color: transparent;
    }
  }
}

.product-grid__item-details {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  @include text-shadow;
}

.product-grid__item-title {
  color: $color-text--light;
  text-align: center;
  @include h4;
  @include font-display;
  @include margin-horizontal(10px);
  @include margin-bottom(10px);
}

.product-grid__item-link {
  text-decoration: none;
  color: $color-yellow;
  font-weight: 600;
  text-transform: uppercase;
  @include font-body;
  @include small;
}

.product-grid__item-image {
  height: 100%;
}

.product-grid__item-image::after {
  content: '';
  display: block;
  background-color: $color-grey-overlay;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  @include transition;
}

.product-grid__featured-banner {
  width: -size(200px);
  background: $color-orange;
  position: absolute;
  text-align: center;
  line-height: -size(25px);
  top: -size(30px);
  right: -size(-56px);
  transform: rotate(45deg);
  text-transform: uppercase;
  @include tiny;
}
