.retailers__header {
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, -color($greys, 15), transparent 250px), url("/assets/img/forest-fog.jpg");
  color: $color-text--light;
  display: flex;
  height: -size(488px);
  justify-content: center;
  @include padding-top($gutter--xl);
}

.retailers__container {
  @include margin-center;
  @include wrapper;
}

.retailers__title {
  text-align: center;
  color: $color-yellow;
  font-weight: 600;
  text-transform: uppercase;
  @include h1;
  @include font-display;
  @include text-shadow;
}

.retailers__list {
  @include wrapper;
  @include margin-center;
  @include padding-vertical($gutter--xl);
}

.province__title {
  border-bottom: 1px solid -color($greys, 95);
  text-align: center;
  @include font-display;
  @include h2;
  @include padding-bottom($gutter);
}

.retailers__location-group {
  display: flex;
  flex-wrap: wrap;

  @include max-screen($bp-desktop) {
    justify-content: space-around;
  }
}

.retailer {
  display: flex;
  flex-shrink: 1;
  @include padding-bottom($gutter);
  @include margin-bottom($gutter);

  @include max-screen($bp-tablet) {
    border-bottom: 1px solid -color($greys, 95);

    &:last-child {
      border-bottom: none;
    }
  }

  @include screen($bp-tablet) {
    flex-basis: calc(100% / 2);
  }

  @include screen($bp-desktop) {
    flex-basis: calc(100% / 3);
  }
}

.retailer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  @include padding-vertical($gutter);

  @include screen($bp-tablet) {
    @include padding-horizontal($gutter);
  }
}

.retailer__name {
  @include h3;
  @include font-display;
  @include margin(0);
}

.retailer__tel-link {
  color: $color-text--orange;
  display: block;
  font-weight: 600;
  @include margin($gutter--small);
}

.retailer__tel-text {

}

.retailer__address {
  flex-align: end;
}



.retailer-filter {
  display: flex;
  align-items: center;
  @include flex-column;

  .retailer-filter__label {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    @include text-shadow;
    @include h2;
    @include font-display;
  }

  .retailer-filter__input {
    display: block;
    border-radius: 3px;
    border: none;
    width: 100%;
    max-width: $bp-tablet;
    text-align: center;
    @include padding($gutter);
    @include box-shadow;
    @include margin($gutter--small);
  }

  .retailer-filter__help {
    @include small;
  }
}

.retailers-map {
  width: 100%;
  height: 500px;
}

.retailers-map__dealer-name {
  display: block;
  font-weight: bold;
  @include margin-bottom($gutter--small);
  @include h5;
}

.retailers-map__city,
.map_address,
.retailers-map__postal-code {
  display: block;
}

.retailers-map__phone {
  display: block;
  font-weight: bold;
  @include margin-top($gutter--small);
}
