/*

  Site Footer

*/

.site-footer {
  background-color: $color-grey--dark;
  text-align: center;
  @include padding-vertical($gutter--large);
}

.site-footer__colophon {
  color: $color-text--light;
  @include padding-bottom($gutter--large);

  .site-logo {
    fill: $color-grey--light;
    @include flex-column;

    .site-logo__name {
      order: 2;
    }

    svg {
      order: 1;
      display: block;
      height: -size(81px);
      @include margin-bottom(20px);

      .text, .leaf {
        fill: #ffffff;
      }
    }
  }

  a {
    color: $color-yellow;
    text-decoration: none; @include tiny;
  }
}

.site-footer-nav {
  .site-footer-nav__item {
    @include max-screen($bp-desktop) {
      display: block;
      line-height: 25px;
    }
  }

  a {
    color: $color-text--light;
    text-decoration: none;
    @include tiny;
  }
}

.site-copyright {
  background-color: $color-grey--darker;
  color: $color-text--grey;
  text-align: center;
  @include tiny;
  @include padding-vertical($gutter);

  a {
    color: $color-text--grey;
  }
}
