.site-header {
  z-index: 10;
  width: 100vw;
  height: -size($size-header);
  background-color: $color-grey--dark;
  position: fixed;

  @include screen($bp-desktop) {
    background-color: transparent;
    position: absolute;
  }
}

.site-header__container {
  @include max-screen($bp-desktop) {
    margin: 0;
    max-width: none;
  }

  @include screen($bp-desktop) {
    margin-top: $gutter;
    display: flex;
    justify-content: space-between;
  }
}

.site-header__link {
  color: $color-text--light;
  text-decoration: none;
  display: block;
  line-height: -size($size-header);
  text-align: center;

  .site-logo__name {
    margin: 0;

    @include screen($bp-desktop) {
      @include image-replacement;
    }
  }

  .site-logo svg {
    @include screen($bp-desktop) {
      height: -size(93px);
    }
  }
}

