/*

  Site Logo

*/

.site-logo__name {
  @include font-display;
  @include h5;
}

.site-logo__icon {
  background-size: cover;
  background-image: url('/assets/icons/Canswe-WHT.svg');

  @include screen($bp-desktop) {
    height: 148px;
    width: 204px;
    background-image: url('/assets/icons/Canswe-CMYK.svg');
  }
}
