.site-header {
  width: 100%;
  z-index: 10;
  height: -size($size-header);
  background-color: $color-grey--dark;
  position: fixed;

  @include screen($bp-desktop) {
    background-color: transparent;
    position: absolute;
  }
}

.site-header__container {
  @include screen($bp-desktop) {
    margin-top: $gutter;
    display: flex;
    justify-content: space-between;
    @include wrapper;
    @include margin-center;
  }
}

.site-header__link {
  color: $color-text--light;
  text-decoration: none;
  display: block;
  line-height: -size($size-header);
  text-align: center;

  @include screen($bp-desktop) {
    margin-left: -28px;
  }

  .site-logo__name {
    margin: 0;
    padding-left: 81px;
    padding-right: 60px;

    @include screen($bp-desktop) {
      @include image-replacement;
    }
  }
}

