.site-header {
  .site-nav {
    display: none;
    background-color: $color-grey--dark;
    @include box-shadow;
    @include flex-column-to-row($bp-desktop);

    @include screen($bp-desktop) {
      align-self: center;
      display: flex;
    }
  }

  .site-nav__item {
    &:first-of-type {
      @include padding-left($gutter);
    }

    &:last-of-type {
      @include padding-right($gutter);
    }
  }

  .site-nav__link {
    color: $color-text--light;
    display: block;
    line-height: -size($size-header);
    @include padding-horizontal($gutter);
    @include transition;

    @include screen($bp-desktop) {
      line-height: -size(70px);
    }

    &:hover {
      background-color: -color($greys, 20);
    }
  }

  .site-nav__text {
    @include screen($bp-desktop) {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .site-nav > .site-nav__item:last-child {
    position: relative;
    padding-left: $gutter;

    &::before {
      content: '';
      background-image: url('../icons/location.svg');
      background-repeat: no-repeat;
      background-position: 50% 100%;
      width: 42px;
      height: 100%;
      position: absolute;
      display: inline-block;
      left: 0;
    }
  }
}

