/*

  Buttons
  ---
  Don't forget hover, active states

*/

.button {
  padding: 12px 15px;
  text-decoration: none;
  font-weight: bold;
  @include font-body;
  @include box-shadow($blur: (2px, 5px));
    @include transition;
}

.button:hover {
  background-color: $color-primary--yellow-hover;
  @include button-transition;
}

.button--yellow {
  color: $color-text--dark;
  background-color: $color-primary--yellow;
}
