/*

  Buttons
  ---
  Don't forget hover, active states

*/

.button {
  padding: .575rem .75rem;
  text-decoration: none;
  @include box-shadow--sharp;
}

.button:hover {
  background-color: $color-primary--yellow-hover;
  @include button-transition;
}

.button--yellow {
  color: $color-text--dark;
  background-color: $color-primary--yellow;
}