/*

  Icons

*/

[class^="icon"] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;

  &--inline {
    background-image: none;
  }
}

.icon--sun::after {
  background-image: url('/assets/icons/sun.svg');
}

.icon--rain::after {
  background-image: url('/assets/icons/rain.svg');
}

.icon--snow::after {
  background-image: url('/assets/icons/snowflake.svg');
}

.icon--safety::after {
  background-image: url('/assets/icons/safety.svg');
}

.icon--cost::after {
  background-image: url('/assets/icons/money.svg');
}

