/*

  Navs

*/

#nav-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
  #main-nav {
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    ul {
      background-color: #2b2b2b;
      display: flex;
      list-style: none;
      margin-left: auto;
      margin-bottom: 0;
      li {
        padding: 20px 35px;
        a {
          color: $color-text--light;
          @include font-body;
        }
        a:hover {
          color: $color-grey--light;
        }
      }
    }
  }
}