/*

  Navs

*/

.nav-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
  .main-nav {
    @include box-shadow--sharp;
    ul {
      background-color: $color-grey--dark;
      display: flex;
      list-style: none;
      margin-left: auto;
      margin-bottom: 0;
      li {
        padding: 15px 35px;
        text-transform: uppercase;
        a {
          color: $color-text--light;
          @include font-body;
          @include micro;
        }
        a:hover {
          color: $color-grey--light;
        }
      }
    }
  }
}
