
@mixin baseline {
  background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) $global-baseline - 1px, rgba(0,0,0,0.3) $global-baseline);
}

@mixin vertical-line {
  background-image: repeating-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) $global-baseline - 1px, rgba(0,0,0,0.3) $global-baseline);
}

@if ($debug-mode: true) {
  body {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include baseline;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include vertical-line;
    }
  }
}
