@mixin measure {
  max-width: $measure;
}

@mixin columns($count: 2, $gap: $gutter--large, $width: null) {
  @if ($width != null) {
    column-width: $width;
  } @else {
    column-count: $count;
  }

  column-fill: balance-all;
  column-gap: -size($gap);
  orphans: 2;
  widows: 2;
}

@mixin column-span($count: all) {
  column-span: $count;
}

@mixin avoid-column-break {
  break-inside: avoid-column;
}

@mixin line-break {
  &::after {
    content: '\A';
    white-space: pre;
  }
}
