---
layout: default
---

<section class="about-page__section about-page__hero">
  <header class="about-page__heading-large">
    CANSWE was started on a dream.
  </header>
  
  <div class="about-page__copy-wrapper">
    <p class="about-page__copy-text">
      Our 27 Retailers, over 10,000 Customers, and 40 years of business have moved us closer to reaching it.
    </p>
  </div>
</section>

<section class="about-page__section">
  <header class="about-page__heading-small">
    We love our customers, and they love us.
  </header>
  
  <div class="about-page__testimonial-wrapper">
    <p class="about-page__copy-text about-page__testimonial-text">
      <span class="about-page__drop-cap">"</span>
      The Hurricane jacket has been a great purchase for the BC Rap Attack... Our firefighters are safer, and can operate in a greater range of conditions.
      Our crew is happier and safer with CANSWE garments.
      <span class="about-page__drop-cap">"</span>
    </p>

    <img src="//via.placeholder.com/400x220" />
  </div>

  <div class="about-page__testimonial-attribution">
    - Dave Grohl, <em>Ministry of Forests & Wetlands Preservation</em>
    <small>Barriere, BC</small>
  </div>
</section>

<section class="about-page__section about-page__end-hero">
  <header class="about-page__heading-large">
    We're a company with grit
  </header>

  <br />

  <header class="about-page__heading-large">
    and we have products to match.
  </header>
  
  <div class="about-page__story-wrapper">
    <p class="about-page__copy-text">
      <span class="about-page__drop-cap">"</span>
      The Hurricane jacket has been a great purchase for the BC Rap Attack... Our firefighters are safer, and can operate in a greater range of conditions.
      <span class="about-page__drop-cap">"</span>
    </p>
  </div>
</section>
