---
layout: default
---

<header class="product-header">
  <h1 class="product-title">{{ page.title | upcase }}</h1>
</header>

<div class="product-collage">
  <span><img src="//placehold.it/790x508"></span>
  {% if page.rotator == true %}
    <span class="spritespin"></span>
    <script>
      var sku = "{{ page.sku | downcase }}",
        imageWidth = 538,
        imageHeight = 800,
        rotator = "{{ page.rotator }}"
    </script>
  {% else %}
    <span><img src="//placehold.it/378x507"></span>
  {% endif %}
</div>



<div class="product-body">

  <article class="product-article">
    <h2 class="product-article__title">Description & Features</h2>
    <div class="product-article__wrapper">
      <div class="product-article__body">
        <p>{{ page.description }}</p>

        {% if page.specs.features %}
        <section class="product-spec product-spec--features">
          <h3 class="product-spec__title">
            Features
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.features %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}

        {% if page.specs.material %}
        <section class="product-spec product-spec--material">
          <h3 class="product-spec__title">
            Material
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.material %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}

        {% if page.specs.misc %}
        <section class="product-spec product-spec--misc">
          <h3 class="product-spec__title">
            Extra Information
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.misc %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
      </div>
      {% endif %}

      <aside class="product-details">

        {% if page.specs.model %}
        <section class="product-spec spec--model">
          <h3 class="product-spec__title">
            Model:
            <span class="product-spec__icons">
              {% for condition in page.specs.model %}
                {{ condition }}
              {% endfor %}
            </span>
          </h3>
        </section>
        {% endif %}

        {% if page.specs.sku %}
        <section class="product-spec spec--sku">
          <h3 class="product-spec__title">
            Order SKU:
            <span class="product-spec__icons">
              {% for condition in page.specs.sku %}
                {{ condition }}
              {% endfor %}
            </span>
          </h3>
        </section>
        {% endif %}

        {% if page.specs.weather %}
        <section class="product-spec spec--weather">
          <h3 class="product-spec__title">
            Weather
            <span class="product-spec__icons">
              {% for condition in page.specs.weather %}
                <i class="icon--{{ condition }} product-spec__icon">{{ condition }}</i>
              {% endfor %}
            </span>
          </h3>
        </section>
        {% endif %}

        {% if page.specs.cost %}
        <section class="product-spec product-spec--cost">
          <h3 class="product-spec__title">
            Cost
            <span class="product-spec__icons">
              {% for cost in (1..page.specs.cost) %}
                <i class="icon--cost product-spec__icon">{{ cost }}</i>
              {% endfor %}
            </span>
          </h3>
        </section>
        {% endif %}

        {% if page.specs.safety %}
        <section class="product-spec product-spec--safety">
          <h3 class="product-spec__title">
            Safety
            <span class="product-spec__icons">
            {% for rating in (1..page.specs.safety.score) %}
              <i class="icon--safety product-spec__icon">{{ rating }}</i>
            {% endfor %}
            </span>
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.safety.details %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}
      </aside>
    </div>
  </article>
</div>

{% include components/map.html %}
