---
layout: default
---
<header class="product-header">
  <div class="product-header__container">
    <h1 class="product-title">{{ page.title | upcase }}</h1>
  </div>
</header>

<div class="product-collage">
  <div class="product-collage__image product-collage__image--main">
    <img src="/assets/images/products/{{ page.sku | downcase }}/live.jpg">
  </div>

  {% if page.rotator %}
    <div class="product-collage__sprite">
      <div class="spritespin"></div>
      <script>
        if (window.outerWidth >= 768) {
          var sku = "{{ page.sku | downcase }}",
            imageWidth = 538,
            imageHeight = 800,
            rotator = {{ page.rotator }}
        }
      </script>
      <button class="product-collage__sprite-button button button--link button--orange-link">Click here to spin</button>
    </div>
  {% endif %}

  <div class="product-collage__image product-collage__image--sprite">
    <img src="/assets/images/products/{{ page.sku | downcase }}/12.jpg">
  </div>
</div>

<div class="product-body">
  <article class="product-article">
    <h2 class="product-article__title">Description & Features</h2>

    <div class="product-article__wrapper">
      <div class="product-article__body">
        <p>{{ page.description }}</p>

        {% if page.specs.features %}
        <section class="product-spec product-spec--features">
          <h3 class="product-spec__title">
            Features
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.features %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}

        {% if page.specs.material %}
        <section class="product-spec product-spec--material">
          <h3 class="product-spec__title">
            Material
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.material %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}

        {% if page.specs.misc %}
        <section class="product-spec product-spec--misc">
          <h3 class="product-spec__title">
            Extra Information
          </h3>

          <ul class="product-spec__list">
            {% for point in page.specs.misc %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}
      </div>

      <aside class="product-details">
        <table>
          <tbody>
            <tr class="product-spec spec--model">
              <th width=1 class="product-spec__title">
                Model
                </td>
                <td class="product-spec__icons">
                  {% if page.specs.model %}
                    {{ page.specs.model }}
                  {% else %}
                    {{ page.title }}
                  {% endif %}
                </td>
            </tr>

            <tr class="product-spec spec--sku">
              <th class="product-spec__title">
                Order SKU
              </th>
              <td class="product-spec__icons">
                {% if page.specs.sku %}
                  {{ page.specs.sku }}
                {% else %}
                  {{ page.sku }}
                {% endif %}
              </td>
            </tr>

            {% if page.specs.weather %}
              <tr class="product-spec spec--weather">
                <th class="product-spec__title">
                  Weather
                </th>
                <td class="product-spec__icons">
                  {% for condition in page.specs.weather %}
                    <i class="icon--{{ condition }} product-spec__icon">{{ condition }}</i>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}

            {% if page.specs.cost %}
              <tr class="product-spec product-spec--cost">
                <th class="product-spec__title">
                  Cost
                </th>
                <td class="product-spec__icons">
                  {% for cost in (1..page.specs.cost) %}
                    <i class="icon--cost product-spec__icon">{{ cost }}</i>
                  {% endfor %}
                  {% capture remainder %}{{ 3 | minus: page.specs.cost }}{% endcapture %}
                  {% for cost in (1..remainder) %}
                    <i class="icon--cost product-spec__icon product-spec__icon--faded">{{ cost }}</i>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}

            {% if page.specs.safety %}
              <tr class="product-spec product-spec--safety">
                <th class="product-spec__title">
                  Safety
                </th>
                <td class="product-spec__icons">
                  {% for rating in (1..page.specs.safety.score) %}
                    <i class="icon--safety product-spec__icon">{{ rating }}</i>
                  {% endfor %}
                  {% capture remainder %}{{ 3 | minus: page.specs.safety.score }}{% endcapture %}
                  {% for rating in (1..remainder) %}
                    <i class="icon--safety product-spec__icon product-spec__icon--faded">{{ rating }}</i>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
          </tbody>
          <tfoot class="product-spec__list">
            {% for point in page.specs.safety.details %}
              <tr>
                <td colspan="2">{{ point }}</td>
              </tr>
            {% endfor %}
          </tfoot>
        </table>
      </aside>
    </div>
    <p>Customization available upon request. Contact your nearest retailer for more information!</p>
  </article>
</div>

{% include components/product-pager.html %}

{% include components/map.html class="product-page-map" %}
