/*

  Breakpoints
  ---
  Setup breakpoints

*/

$bp-phone: 375px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;
$bp-extra-large: 1920px;

$breakpoints: (
  'phone': $bp-phone,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'large': $bp-large,
  'extra-large': $bp-extra-large,
);
