/*

  Colors
  ---

*/

// Fun colors names
$sunset-orange: (
  55: hsl(11, 81%, 55%),
  70: hsl(11, 81%, 70%),
  90: hsl(11, 81%, 90%)
);
$lightning-yellow: (
  40: hsl(44, 100%,  40%),
  55: hsl(44, 100%,  54%),
);

// Greys
$color-greys: (
    0: hsl(0, 0,   0),
   10: hsl(0, 0,  10%),
   15: hsl(0, 0,  16%),
   20: hsl(0, 0,  23%),
   55: hsl(0, 0,  54%),
   60: hsl(0, 0,  61%),
   75: hsl(0, 0,  76%),
   85: hsl(0, 0,  85%),
   95: hsl(0, 0,  94%),
  100: hsl(0, 0, 100%),
);

$color-greys--alpha: (
  20: hsla(0, 0, 16%, .2),
  40: hsla(0, 0, 16%, .4),
  50: hsla(0, 0, 16%, .5),
  70: hsla(0, 0, 16%, .7),
  75: hsla(0, 0, 16%, .75),
);

$color-grey--lightest: map-get($color-greys, 100);
$color-grey--light:    map-get($color-greys,  75);
$color-grey--darkest:  map-get($color-greys,   0);
$color-grey--dark:     map-get($color-greys,  15);
$color-grey:           map-get($color-greys,  50);

$color-primary--yellow:  map-get($lightning-yellow,  55);
$color-primary--yellow-hover: map-get($lightning-yellow,  40);
$color-orange: map-get($sunset-orange, 55);

$color-text: $color-grey--darkest;
$color-text--light: $color-grey--lightest;
$color-text--dark: $color-grey--dark;
$color-text--orange: map-get($sunset-orange, 55);
$color-text--orange-hover: map-get($sunset-orange, 70);

$color-box-shadow: map-get($color-greys--alpha, 20);
$color-text-shadow: map-get($color-greys--alpha, 50);
$color-grey-overlay: map-get($color-greys--alpha, 70);
