/*

  Colors
  ---

*/

// Fun colors names
$sunset-orange: hsl(11%, 81%, 90%);
$lightning-yellow: hsl(46%, 92%, 100%);

// Greys
$color-grey: (
    0: hsl(0, 0,   0),
   10: hsl(0, 0,  10%),
   15: hsl(0, 0,  16%),
   20: hsl(0, 0,  23%),
   55: hsl(0, 0,  54%),
   60: hsl(0, 0,  61%),
   75: hsl(0, 0,  76%),
   85: hsl(0, 0,  85%),
   95: hsl(0, 0,  94%),
  100: hsl(0, 0, 100%),
);

$color-grey--alpha: (
  40: hsla(0, 0, 16%, .40),
  50: hsla(0, 0, 16%, .50),
  70: hsla(0, 0, 16%, .70),
  75: hsla(0, 0, 16%, .75),
);

$color-grey--lightest: map-get($color-grey, 100);
$color-grey--light:    map-get($color-grey,  75);
$color-grey--darkest:  map-get($color-grey,   0);
$color-grey--dark:     map-get($color-grey,  15);
$color-grey:           map-get($color-grey,  50);
$color-primary--yellow: #FFC016;
$color-primary--yellow-hover: #c29417;

$color-text: $color-grey--darkest;
$color-text--light: $color-grey--lightest;
$color-text--dark: $color-grey--dark;
$color-text--orange: #ff522b;

$color-box-shadow: map-get($color-grey--alpha, 50);
