/*

  Colors
  ---

*/

$orange: (
  base: hsl(11, 81%, 55%),
  hover: hsl(11, 81%, 70%)
);

$yellow: (
  base: hsl(44, 100%,  54%),
  hover: hsl(44, 100%,  40%)
);

$greys: (
    0: hsl(0, 0,   0),
   10: hsl(0, 0,  10%),
   15: hsl(0, 0,  16%),
   20: hsl(0, 0,  23%),
   42: hsl(0, 0,  42%),
   44: hsl(0, 0,  44%),
   52: hsl(0, 0,  52%),
   54: hsl(0, 0,  54%),
   56: hsl(0, 0,  56%),
   58: hsl(0, 0,  58%),
   60: hsl(0, 0,  60%),
   61: hsl(0, 0,  61%),
   62: hsl(0, 0,  62%),
   67: hsl(0, 0,  67%),
   69: hsl(0, 0,  69%),
   75: hsl(0, 0,  76%),
   85: hsl(0, 0,  85%),
   95: hsl(0, 0,  94%),
  100: hsl(0, 0, 100%),
);

$greys--alpha: (
  20: hsla(0, 0, 16%, .2),
  40: hsla(0, 0, 16%, .4),
  50: hsla(0, 0, 16%, .5),
  70: hsla(0, 0, 16%, .7),
  75: hsla(0, 0, 16%, .75),
);

$color-grey--lightest: -color($greys, 100);
$color-grey--lighter: -color($greys, 85);
$color-grey--light:    -color($greys,  75);
$color-grey--darkest:  -color($greys,   0);
$color-grey--darker:  -color($greys,   10);
$color-grey--dark:     -color($greys,  15);
$color-grey:           -color($greys,  55);

$color-yellow: -color($yellow);
$color-yellow--hover: -color($yellow, hover);
$color-orange: -color($orange);
$color-orange--hover: -color($orange, hover);

$color-text: $color-grey--darkest;
$color-text--light: $color-grey--lightest;
$color-text--grey: -color($greys, 60);
$color-text--dark: $color-grey--dark;
$color-text--yellow: $color-yellow;
$color-text--yellow-hover: $color-yellow--hover;
$color-text--orange: $color-orange;
$color-text--orange-hover: $color-orange--hover;

$color-box-shadow:   -color($greys--alpha, 20);
$color-text-shadow:  -color($greys--alpha, 50);
$color-grey-overlay: -color($greys--alpha, 70);

