<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://unpkg.com/spritespin@x.x.x/release/spritespin.js"></script>
<script src="/assets/js/app.js"></script>
<script type='text/javascript'>
  $(function() {
    var spriteSpin = $(".spritespin");

    if (spriteSpin.length > 0 && window.rotator === true) {
      spriteSpin.spritespin({
        source: SpriteSpin.sourceArray('/assets/images/products/'+window.sku+'/{frame}.jpg', {
          frame: [1, 15],
        }),
        frames: 16,
        frameTime: 150,
        animate: false
      });
    }

    if (spriteSpin.length) {
      var api = $('.spritespin').spritespin('api');

      $('.product-collage .button')
        .click(function() {
          api.toggleAnimation()
          api.isPlaying()
            ? $(this).html('Stop Spinning')
            : $(this).html('Click here to spin');
        });
    }
  });
</script>

