/*

  Layout
  ---
  A good place to define layout helpers like wrappers, or grids

*/

@mixin wrapper {
  width: 100%;
  @include padding-horizontal($gutter);

  @include screen($bp-desktop) {
    max-width: $bp-desktop;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > *:first-child {
    margin-top: 0 !important;
  }
}
