.about-hero {
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, -color($greys, 15), transparent 250px), url("/assets/img/morning-fog.jpg");
  color: $color-text--light;
  display: flex;
  height: -size(488px);
  justify-content: center;
}

.about-hero__intro {
  @include text-shadow;
  text-align: center;
}

.about-hero__title {
  @include h1;
  @include font-display;
  @include text-shadow;
  color: $color-yellow;
  font-weight: 600;
  text-transform: uppercase;
}

.about-page__section {
  display: flex;
  flex-flow: column;
  height: 680px;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 800px;
}

.about-page__header {
  @include h2;
  @include font-display;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-page__copy {
  line-height: 1.5;
}