.about-hero {
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, -color($greys, 15), transparent 250px), url("/assets/img/morning-fog.jpg");
  color: $color-text--light;
  display: flex;
  height: -size(488px);
  justify-content: center;
  margin-bottom: 120px;
}

.about-hero__intro {
  @include text-shadow;
  text-align: center;
}

.about-hero__title {
  @include h1;
  @include font-display;
  @include text-shadow;
  color: $color-yellow;
  font-weight: 600;
  text-transform: uppercase;
}

.about-page__bottom-background {
  padding: 40px 0 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(184deg, white, white, transparent 1800px), url("/assets/img/forest-fog.jpg");

  @include screen($bp-tablet) {
    background-image: linear-gradient(184deg, white, white, transparent 1000px), url("/assets/img/forest-fog.jpg");
  }
}

.about-page__section {
  display: flex;
  flex-flow: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-page__header {
  @include h2;
  @include font-display;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-page__copy {
  line-height: 1.5;
}

.about-page__images {
  display: flex;  
  flex-flow: row wrap;
  justify-content: space-between;
  height: 50vw;

  @include screen($bp-tablet) {
    height: unset;
  }

  .about-page__image {
    width: 80vw;

    @include screen($bp-tablet) {
      height: 420px;
      width: auto;
    }

    &:first-child {
      display: block;
      margin: auto;

      @include screen($bp-large) {
        margin: 0;
      }
    }

    &:last-child {
      display: none;

      @include screen($bp-large) {
        display: block;
      }
    }
  }
}
