.contact-page__section {
  padding-top: 175px;
  height: 130vh;
  position: relative;
  display: flex;
  flex-flow: column;
  background: linear-gradient(to top, #292929, rgba(0, 0, 0, 0.5), transparent), url("/assets/img/pexels-photo-113339-forest-logs-nature.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  //height: 490px;
  justify-content: center;
  align-items: center;
}

.contact-page__heading-large {
  @include h1;
  @include font-display;
  @include margin-vertical(0);
  @include text-shadow;
  text-align: center;
  font-weight: 600;
  color: $color-yellow;
  text-transform: uppercase;
  width: 80%;
}

.contact-page__form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 800px;
  padding: 50px;
  margin: 100px;
  width: 80%;
  background: white;
  @include box-shadow($blur: (2px, 5px));

  input {
    margin-bottom: 20px;
    max-width: 400px;
  }

  button {
    align-self: flex-end;
    width: 200px;
  }
}