.page-product {
}

.product-header {
  background-image: url('/assets/img/ca-ku-441809-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: -size(400px);
  background-color: orange;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    height: -size(134px);
    width: 100%;
    display: block;
    background-color: $color-orange;
    position: absolute;
    top: 100%;
  }
}

.product-title {
  color: $color-yellow;
  text-align: center;
  flex-grow: 1;
  transform: translateY(50px);
  @include h1;
  @include font-display;
  @include text-shadow;
}

.product-collage {
  width: 1240px;
  transform: translateY(-size(-38px));
  position: relative;
  padding: -size(26px);
  background-color: -color($greys, 95);
  display: flex;
  justify-content: space-between;
  @include margin-center;

  .product-collage__image {
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .product-collage__image--main {
    flex-grow: 2;
    margin-right: -size(16px);
  }

  .product-collage__image--sprite {
    flex-shrink: 1;
  }
}

.product-body {
  width: 1240px;
  line-height: 1.5;
  @include padding(26px);
  @include margin-center;
}

.product-article__wrapper {
  display: flex;
}

.product-article__title {
  font-weight: 600;
  flex-shrink: 0;
  @include h4;
  @include font-display;
}

.product-article__body {
  flex-grow: 2;
  flex-shrink: 1;
  margin-right: -size(40px);
  @include measure;
}

.product-details {
  flex-grow: 1;
  flex-shrink: 2;

  .product-spec__list {
    color: -color($greys, 75);
    list-style: none;
    margin-left: 0;
    @include tiny;
  }
}

.product-spec {
  .product-spec__title {
    text-align: left;
    padding-right: -size(8px);
    padding-bottom: -size(8px);
    @include h5;
    @include font-display;
  }

  .product-spec__list {
    font-weight: 200;
  }

  .product-spec__icons {
    @include margin-horizontal(10px);
  }

  .product-spec__icon {
    display: inline-block;
    width: 24px;
    color: transparent;
    @include h5;
    position: relative;
  }

  .product-spec__icon::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .product-spec__icon--faded {
    opacity: 0.33;
  }
}

.product-page-map {
  background-color: -color($greys, 95);
  padding-bottom: 20px;

  .map__wrapper {
    flex-flow: row;
    height: 400px;
  }
}
