.about-page__section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: $color-grey--lightest;
  background: linear-gradient(75deg, $color-grey--dark, $color-grey--dark, $color-grey--darker);
  padding: 5vh 5vw;
  background-size: cover;
}

.about-page__hero {
  background-image: url("/assets/img/pexels-photo-113339-forest-logs-nature.jpg");
  justify-content: space-between;
  padding: 35vh 0;
}

.about-page__end-hero {
  justify-content: center;
  color: white;
  background-image: url("/assets/img/ca-ku-441809-unsplash.jpg");
}

.about-page__heading-large {
  @include font-size(64);
  color: $color-text--orange;
  font-weight: 600;
}

.about-page__heading-small {
  @include font-size(24);
  position: absolute;
  top: 50px;
  color: $color-text--orange;
  font-weight: 600;
  text-transform: uppercase;
}

.about-page__copy-text {
  margin: 0;
  line-height: 2;
}

.about-page__testimonial-text {
  width: 400px;
}

.about-page__drop-cap {
  @include font-size(48);
  line-height: 0;
  vertical-align: middle;
}

.about-page__copy-wrapper {
  height: 100px;
  width: 100%;
  background: #292929;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.about-page__testimonial-wrapper {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-page__testimonial-attribution {
}

