---
layout: default
class: home
---

<header class="hero">
  <div class="hero__container container">
    <h1 class="hero__title">
      <span>British
        Columbia
        Made
        <small>Since 1987</small></span>
    </h1>

    <p class="hero__tagline">Premium Quality Industrial Safety Garments</p>

    <div class="hero__cta">
      <a class="button button--yellow" href="/products">
        <span>our products</span>
        {% include icons/shopping-cart.svg %}
      </a>
    </div>
  </div>
</header>

<section class="featured-products">
  <div class="featured-products__container container">
    <header class="featured-products__header">
      <h1 class="featured-products__title">Products by Can-Swe</h1>

      <p class="lead-paragraph">
        At Can-Swe we manufacture premium quality work garments for professionals. Our product lines include chainsaw protective pants and chaps, full rain suits, and high visibility garments.
      </p>

      <a class="button button--link button--orange-link" href="/products">
        View All Products
        {% include icons/arrow-right.svg %}
      </a>
    </header>

    <div class="featured-products__product-grid product-grid">
      {% for item in site.products %}
        {% if item.feature == true %}
          {% include components/product-grid-item.html item=item %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="made-local">
  <div class="made-local__container container">
    <h1 class="made-local__title">Made Local</h1>
    <p class="lead-paragraph">
      All of our Can-Swe products are manufactured right here in Canada, in the Province of British Columbia and distributed in retailers across the country.
    </p>
    <a class="button button--link button--orange-link" href="/retailers">
      Find Your Local Store
      {% include icons/arrow-right.svg %}
    </a>
  </div>
</section>

<section class="family-operated">
  <div class="family-operated__container container">
    <header class="family-operated__header">
      <h1 class="family-operated__title">Family Operated</h1>
    </header>

    <div class="family-operated__body">
      <div class="family-operated__cluster">
        <div class="family-operated__cluster-image">
          <img src="//via.placeholder.com/890x600" />
        </div>

        <div class="family-operated__cluster-content">
          <p>At Can-Swe we take pride in our work, just like our users. Our family owned and operated business was the first to introduce the use of Kevlar for chainsaw safety protection. We still lead the industry providing our users with excellent value and protection, doing everything we can to get our users home safely.</p>

        </div>
      </div>

      <div class="family-operated__cluster family-operated__cluster--reverse">
        <div class="family-operated__cluster-image">
          <img src="//via.placeholder.com/890x600" />
        </div>

        <div class="family-operated__cluster-content">
          <p>All Can-Swe branded garments are manufactured right here in the heart of the Canadian forestry industry on the West coast of Canada.</p>
          <p>Through our network of dealers, our product reaches country wide to support the rural commercial fallers, as well as the urban arborist community.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include components/map.html class="home"%}
