---
layout: default
permalink: /products/index.html
class: products
---
{% assign categories = site.data.categories | sort: 'name' %}

<header class="products-hero">
  <div class="products-hero__intro">
    <h1 class="products-hero__title">Products</h1>
    <p class="products-hero__lead">At Can-Swe, we manufacture quality outdoor work garments, protective apparel, rainwear, chainsaw chaps, high-visibility garments, etc.</p>
  </div>
</header>

<nav class="products-navbar">
  <div class="products-navbar__wrapper">
    {% for category in categories | limit: 2 %}
      <a class="products-navbar__link" href="/products/#{{category.safe}}">
        <span class="products-navbar__text">{{ category.name }}</span>
      </a>
    {% endfor %}

    <i class="products-navbar__separator"></i>

    {% for category in categories | offset: 2 %}
      <a class="products-navbar__link" href="/products/#{{category.safe}}">
        <span class="products-navbar__text">{{ category.name }}</span>
      </a>
    {% endfor %}
  </div>
</nav>

{% for category in site.data.categories %}
  <div class="product-category">
    <header class="product-category__header">
      <h1 id={{ category.safe }} class="product-category__title">{{ category.name }}</h1>
      <p class="product-category__lead">{{ category.lead }}</p>
    </header>


    <div class="product-category__article">
      <input type="checkbox" class="product-category__checkbox" name="{{ category.safe }}-toggle" id="{{ category.safe }}-toggle" />

      <div class="product-category__description">
        {{ category.description }}
      </div>

      <label class="product-category__label" for="{{ category.safe }}-toggle">Read More {% include icons/logic-or.svg %}</label>
    </div>

    <div class="product-category__grid product-grid">
      {% for item in site.products %}
        {% if item.category == category.safe %}
          {% include components/products-page-product.html item=item %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
