---
layout: products-page
permalink: /products/index.html
class: products
---
<header class="products-hero">
  <div class="products-hero__intro">
    <h1 class="products-hero__title">Products</h1>
    <p class="products-hero__lead">At Can-Swe, we manufacture quality outdoor work garments, protective apparel, rainwear, chainsaw chaps, high-visibility garments, etc.</p>
  </div>
</header>

<nav class="products-navbar">
  <div class="products-navbar__wrapper">
    {% assign categories = site.data.categories | sort: 'name' %}
    {% for category in categories | limit: 2 %}
      <a class="products-navbar__link" href="/products/#{{category.safe}}">
        <span class="products-navbar__text">{{ category.name }}</span>
      </a>
    {% endfor %}

    <i class="products-navbar__separator"></i>

    {% for category in categories | offset: 2 | limit: 2 %}
      <a class="products-navbar__link" href="/products/#{{category.safe}}">
        <span class="products-navbar__text">{{ category.name }}</span>
      </a>
    {% endfor %}
  </div>
</nav>

{% for category in site.data.categories %}
  <h1 id={{ category.safe }}>{{ category.name }}</h1>
  <p>{{ category.lead }}</p>

  <label for="{{ category.safe }}-toggle">Read More</label>
  <input type="checkbox" name="{{ category.safe }}-toggle" />
  <div>
    <p>{{ category.description }}</p>
  </div>

  {% for item in site.products %}
    {% if item.category == category.safe %}
      <h2>{{ item.title }}</h2>
      <a href="{{ item.url }}">See Product Details</a>

      {% include components/product-image.html item=item %}
    {% endif %}
  {% endfor %}
{% endfor %}
