---
layout: default
permalink: retailers/index.html
---

<header class="retailers__header">
  <div class="retailers__container container">
    <h1 class="retailers__title">Can-Swe Retailers</h1>

    <fieldgroup class="retailer-filter">
      <label class="retailer-filter__label" for="filter">Search for a local retailer</label>
      <input class="retailer-filter__input" id="filter" name="filter" class="retailer__input" placeholder="Find a local Can-Swe retailer..."/>
      <small class="retailer-filter__help">Search by Province, City, or Company Name</small>
    </fieldgroup>
  </div>
</header>

<div class="retailers__list container">
{% assign province = '' %}
{% assign city = '' %}

{% for retailer in site.data.retailers %}
  {% comment %}
  <!-- close previous city -->
  {% if city != retailer.city %}
    <!-- don't close before first city -->
    {% if forloop.index != 1 %}
      </div>
    {% endif %}
    <!-- /don't close before first city -->
  {% endif %}
  <!-- /close previous city -->
  {% endcomment %}

  <!-- close previous province -->
  {% if province != retailer.province %}
    <!-- don't close before first province -->
    {% if forloop.index != 1 %}
        </div>
      </div>
    {% endif %}
    <!-- /don't close before first province -->

  {% endif %}
  <!-- /close previous province -->

  <!-- check new province -->
  {% if province != retailer.province %}
    {% assign province = retailer.province %}
    <div class="province" data-province="{{ province | safe }}">
      <h1 class="province__title">{{ province }}</h1>
      <div class="retailers__location-group">
  {% endif %}
  <!-- /check new province -->

  {% comment %}
  <!-- check new city -->
  {% if city != retailer.city %}
    {% assign city = retailer.city %}
    <div class="city retailers__location-group" data-city="{{ city | safe }}">
  {% endif %}
  <!-- /check new city -->
  {% endcomment %}

  {% include components/retailer.html retailer=retailer %}
{% endfor %}

<!-- /fixes for nesting -->
    </div>
  </div>
</div>
<!-- /fixes for nesting -->

<div id="map" class="retailers-map"></div>
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lng: -96.927234, lat: 51.322856 };
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 5, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});

    map.data.loadGeoJson ('/assets/map/retailers.json');
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX1aZ9YuFupu4iMSHnWyt454nBt45uCIo&callback=initMap">
</script>
</div>

